.key {
  background-color: grey;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.grey {
  background-color: #b3b3b3;
  color: black;
}

.dark {
  background-color: #3a3a3a;
  color: white;
}

.yellow {
  background-color: #ffa707;
  color: white;
}

.double {
  width: 190px !important;
  justify-content: start !important;
}

.double > .content {
  margin-left: 35px;
}
