.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: black;
  width: 400px;
  margin-top: 5vh;
  padding: 20px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgb(27, 27, 27);
}
