html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'SF Pro Text';
  height: 100%;
}

#root {
  height: 100%;
  background-color: rgba(179, 178, 178, 0.801);
}

.show-layout {
  border: tomato 1px solid;
}
