@font-face {
  font-family: SFProText;
  src: url(./fonts/SF-Pro-Text-Light.otf);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: SFProText;
  height: 100%;
}

#root {
  height: 100%;
  background-color: rgba(179, 178, 178, 0.801);
}

.show-layout {
  border: tomato 1px solid;
}
